docs/n8n/prod-workflows/health_check.json
{
  "name": "Health Check: Dojo AI",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "b7000001-0001-4001-8001-000000000001",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8069/api/v1/ai/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "id": "b7000001-0001-4001-8001-000000000002",
      "name": "Health Check",
      "credentials": {
        "httpHeaderAuth": { "id": "KuwAJGUqyLT3qP6w", "name": "Odoo API Key" }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "healthy-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 0],
      "id": "b7000001-0001-4001-8001-000000000003",
      "name": "Is Healthy?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, -100],
      "id": "b7000001-0001-4001-8001-000000000004",
      "name": "All Good"
    },
    {
      "parameters": {
        "jsCode": "const health = $input.first().json;\nconst ts = new Date().toISOString();\nconsole.log(`[${ts}] UNHEALTHY — status: ${health.status || 'unreachable'}, details: ${JSON.stringify(health)}`);\nreturn [{ json: { alert: true, timestamp: ts, status: health.status || 'unreachable', details: health } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 100],
      "id": "b7000001-0001-4001-8001-000000000005",
      "name": "Log Alert"
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Health Check", "type": "main", "index": 0 }]] },
    "Health Check": { "main": [[{ "node": "Is Healthy?", "type": "main", "index": 0 }]] },
    "Is Healthy?": {
      "main": [
        [{ "node": "All Good", "type": "main", "index": 0 }],
        [{ "node": "Log Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
