docs/n8n/dojo_ai_router.json.bak
{
  "name": "Dojo AI Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-query",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "a0000001-0001-4001-8001-000000000001",
      "name": "Webhook",
      "webhookId": "ed853e5d-4fa7-48b1-aba8-f793b62cfe92"
    },
    {
      "parameters": {
        "jsCode": "// ── Validate & normalise incoming request ──\nconst body = $input.first().json.body || $input.first().json;\n\nconst text = (body.text || '').trim();\nif (!text) {\n  return [{ json: { success: false, state: 'error', response: 'Missing required field: text', error: 'validation_error' } }];\n}\n\nconst VALID_ROLES = ['admin', 'instructor', 'kiosk'];\nconst role = VALID_ROLES.includes(body.role) ? body.role : 'instructor';\n\nconst session_id = body.session_id || `auto_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nlet context_window = parseInt(body.context_window, 10);\nif (isNaN(context_window) || context_window < 1) context_window = 10;\nif (context_window > 50) context_window = 50;\n\nconst channel = body.channel || null;\n\nreturn [{ json: { text, role, session_id, context_window, channel, _valid: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "a0000001-0001-4001-8001-000000000002",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0],
      "id": "a0000001-0001-4001-8001-000000000003",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://web:8069/api/v1/ai/discover",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Validate Input').item.json.text, role: $('Validate Input').item.json.role, include_prompt: true }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, -80],
      "id": "a0000001-0001-4001-8001-000000000004",
      "name": "Discovery",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MGTS1e0OnNIkltBl",
          "name": "Odoo API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "cond-agent",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, -80],
      "id": "a0000001-0001-4001-8001-000000000005",
      "name": "Discovery OK?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "value": "attendance" },
            { "outputIndex": 1, "value": "enrollment" },
            { "outputIndex": 2, "value": "core" },
            { "outputIndex": 3, "value": "subscriptions" },
            { "outputIndex": 4, "value": "communications" }
          ]
        },
        "dataType": "string",
        "value": "={{ $json.agent }}",
        "fallbackOutput": "extra"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, -80],
      "id": "a0000001-0001-4001-8001-000000000006",
      "name": "Route by Domain"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "LQOtAQyhya19709W" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'Attendance Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'attendance' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, -320],
      "id": "a0000001-0001-4001-8001-000000000010",
      "name": "→ Attendance Agent"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "y7ppFz99vG2KYtcM" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'Enrollment Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'enrollment' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, -160],
      "id": "a0000001-0001-4001-8001-000000000011",
      "name": "→ Enrollment Agent"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "nqa29YJh4DmonXVD" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'Core Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'core' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, 0],
      "id": "a0000001-0001-4001-8001-000000000012",
      "name": "→ Core Agent"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "DKv7tyjq9drKI0lz" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'Subscriptions Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'subscriptions' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, 160],
      "id": "a0000001-0001-4001-8001-000000000013",
      "name": "→ Subscriptions Agent"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "KhKhlTLen6FSLUfL" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'Communications Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'communications' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, 320],
      "id": "a0000001-0001-4001-8001-000000000014",
      "name": "→ Communications Agent"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "mode": "list", "value": "bFYiBJlup2jo6Yr1" },
        "fields": {
          "values": [
            { "name": "text", "value": "={{ $('Validate Input').item.json.text }}" },
            { "name": "role", "value": "={{ $('Validate Input').item.json.role }}" },
            { "name": "session_id", "value": "={{ $('Validate Input').item.json.session_id }}" },
            { "name": "context_window", "value": "={{ $('Validate Input').item.json.context_window }}" },
            { "name": "system_prompt", "value": "={{ $('Discovery').item.json.system_prompt || '' }}" },
            { "name": "valid_intent_types", "value": "={{ ($('Discovery').item.json.valid_intent_types || []).join(', ') }}" },
            { "name": "db_context", "value": "={{ $('Discovery').item.json.db_context || '' }}" },
            { "name": "agent_name", "value": "={{ $('Discovery').item.json.agent_name || 'General Agent' }}" },
            { "name": "agent", "value": "={{ $('Discovery').item.json.agent || 'general' }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1380, 480],
      "id": "a0000001-0001-4001-8001-000000000015",
      "name": "→ General Agent"
    },
    {
      "parameters": {
        "jsCode": "// ── Format response for Odoo normalisation ──\nconst raw = $input.first().json;\nconst agent = $('Discovery').item.json.agent || 'unknown';\n\nreturn [{\n  json: {\n    success: raw.success !== false,\n    state: raw.state || 'executed',\n    response: raw.response || raw.output || raw.text || '',\n    intent: raw.intent || null,\n    result: raw.result || null,\n    session_key: raw.session_key || null,\n    agent: agent,\n    agent_name: $('Discovery').item.json.agent_name || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 80],
      "id": "a0000001-0001-4001-8001-000000000020",
      "name": "Format Response"
    },
    {
      "parameters": {
        "jsCode": "// ── Return validation or discovery error ──\nconst input = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    state: 'error',\n    response: input.response || input.error || 'An error occurred during processing.',\n    error: input.error || 'processing_error',\n    intent: null,\n    result: null,\n    session_key: null,\n    agent: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200],
      "id": "a0000001-0001-4001-8001-000000000021",
      "name": "Error Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Discovery", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Discovery": {
      "main": [[{ "node": "Discovery OK?", "type": "main", "index": 0 }]]
    },
    "Discovery OK?": {
      "main": [
        [{ "node": "Route by Domain", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Route by Domain": {
      "main": [
        [{ "node": "→ Attendance Agent", "type": "main", "index": 0 }],
        [{ "node": "→ Enrollment Agent", "type": "main", "index": 0 }],
        [{ "node": "→ Core Agent", "type": "main", "index": 0 }],
        [{ "node": "→ Subscriptions Agent", "type": "main", "index": 0 }],
        [{ "node": "→ Communications Agent", "type": "main", "index": 0 }],
        [{ "node": "→ General Agent", "type": "main", "index": 0 }]
      ]
    },
    "→ Attendance Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "→ Enrollment Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "→ Core Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "→ Subscriptions Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "→ Communications Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "→ General Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
