docs/n8n/local-workflows/agent_communications.json
{
  "name": "Agent: Communications",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text",
              "type": "string"
            },
            {
              "name": "role",
              "type": "string"
            },
            {
              "name": "session_id",
              "type": "string"
            },
            {
              "name": "context_window",
              "type": "string"
            },
            {
              "name": "system_prompt",
              "type": "string"
            },
            {
              "name": "valid_intent_types",
              "type": "string"
            },
            {
              "name": "db_context",
              "type": "string"
            },
            {
              "name": "agent_name",
              "type": "string"
            },
            {
              "name": "agent",
              "type": "string"
            },
            {
              "name": "conversation_history",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b5000001-0001-4001-8001-000000000001",
      "name": "Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Trigger').item.json.text }}",
        "options": {
          "systemMessage": "You are {{ $('Trigger').item.json.agent_name || 'Communications Agent' }}, a specialized assistant for a martial arts dojo.\n\n## Your Role\nYou handle messaging \u2014 contacting parents/guardians, sending emails, sending SMS, and creating email/SMS blasts. You have two tools:\n1. **Execute_Intent** \u2014 call the dojo system to perform actions or look up data\n2. **Confirm_Intent** \u2014 confirm or cancel a pending action\n\n## Available Intents\nintent_type MUST be one of these exact values \u2014 no others are valid:\n{{ $('Trigger').item.json.valid_intent_types }}\n\n## Conversation History\nUse this to understand context from earlier in the conversation. If the user refers to something mentioned before, use this history to understand what they mean.\n{{ $('Trigger').item.json.conversation_history }}\n\n## Live Database Context\n{{ $('Trigger').item.json.db_context }}\n\n## Rules\n1. ALWAYS use an intent_type from the list above. Never fabricate intent types.\n2. Set confidence between 0.7 and 1.0. If unsure, use 0.7.\n3. For read-only queries, call Execute_Intent directly.\n4. For mutations (send message, create blast), call Execute_Intent. If it returns state=\"pending_confirmation\", DO NOT auto-confirm. Tell the user what is pending and ask them to confirm.\n5. If the user says yes/confirm \u2014 call Confirm_Intent with confirmed=true.\n6. If the user says no/cancel \u2014 call Confirm_Intent with confirmed=false.\n7. If you cannot determine the intent, say so. Do not guess.\n8. Keep responses brief and conversational.\n9. Summarize returned data naturally.\n\n## Communications-Specific Mappings\n- \"text parent\" / \"message guardian\" / \"contact parent\" \u2192 intent_type: contact_parent\n- \"send email to [name]\" \u2192 intent_type: send_email\n- \"send text to [name]\" / \"SMS [name]\" \u2192 intent_type: send_sms\n- \"email blast\" / \"email everyone\" / \"announce via email\" \u2192 intent_type: email_blast\n- \"text blast\" / \"SMS blast\" / \"announce via text\" \u2192 intent_type: sms_blast\n- \"activities\" / \"todo list\" \u2192 intent_type: activity_list\n- \"create activity\" / \"add reminder\" \u2192 intent_type: activity_create\n- When sending messages, always ask for the message content if not provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        280,
        0
      ],
      "id": "b5000001-0001-4001-8001-000000000002",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        240
      ],
      "id": "b5000001-0001-4001-8001-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Jzdr2yiErsFuHEyP",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Trigger').item.json.session_id }}",
        "contextWindowLength": "={{ $('Trigger').item.json.context_window || 10 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        240
      ],
      "id": "b5000001-0001-4001-8001-000000000004",
      "name": "Session Memory"
    },
    {
      "parameters": {
        "toolDescription": "Execute an action in the dojo management system. You MUST provide: intent_type (exact string from the available intents list), parameters (JSON object), and confidence (number 0.7-1.0). Returns either the result directly or state='pending_confirmation' for mutations.",
        "method": "POST",
        "url": "http://web:8069/api/v1/ai/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ intent_type: $fromAI('intent_type', 'The exact intent_type string'), parameters: ((p) => { try { return typeof p === 'string' ? JSON.parse(p || '{}') : (p || {}); } catch(e) { return {}; } })($fromAI('parameters', 'JSON object of parameters')), role: $('Trigger').item.json.role, session_id: $('Trigger').item.json.session_id, text: $('Trigger').item.json.text, confidence: parseFloat($fromAI('confidence', 'Confidence score 0.7 to 1.0') || '0.85') }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        240
      ],
      "id": "b5000001-0001-4001-8001-000000000005",
      "name": "Execute_Intent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MGTS1e0OnNIkltBl",
          "name": "Odoo API Key"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Confirm or cancel a pending action. Only call AFTER Execute_Intent returned state='pending_confirmation' AND the user explicitly confirmed or denied.",
        "method": "POST",
        "url": "http://web:8069/api/v1/ai/confirm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $('Trigger').item.json.session_id, confirmed: $fromAI('confirmed', 'Boolean: true if user confirmed, false if cancelled') === 'true' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        660,
        240
      ],
      "id": "b5000001-0001-4001-8001-000000000006",
      "name": "Confirm_Intent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "MGTS1e0OnNIkltBl",
          "name": "Odoo API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nreturn [{ json: { success: true, state: raw.state || 'executed', response: raw.output || raw.text || raw.response || '', intent: raw.intent || null, result: raw.result || null, session_key: raw.session_key || null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "b5000001-0001-4001-8001-000000000007",
      "name": "Format Output"
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Session Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute_Intent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Confirm_Intent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}